<li class="directory-item entry document flexrow" data-entry-uuid="{{ uuid }}" data-type="{{ type }}" {{#if desc}}data-tooltip="{{ desc }}"{{/if}}>
    {{#if thumb}}
    <img class="thumbnail" src="{{ thumb }}" alt="{{ name }}" loading="lazy">
    {{/if}}
    <div>
        <a class="entry-name ellipsis">{{ name }}</a>
        <a class="delete" data-action="delete"><i class="fa-solid fa-trash fa-fw"></i></a>
    </div>
</li>
